*.pyc
*.pyo
.gradle
.lock
android/projects/*/*.ap_
android/projects/*/*.apk
android/projects/*/*.class
android/projects/*/*.dex
android/projects/*/.DS_Store
android/projects/*/.classpath
android/projects/*/.gradle
android/projects/*/.idea
android/projects/*/.project
android/projects/*/Thumbs.db
android/projects/*/app/build/
android/projects/*/bin/
android/projects/*/build/
android/projects/*/gen/
android/projects/*/local.properties
android/projects/*/result.jpg
android/resources/*
android/results/*
android/runtimes/*
!android/runtimes/config.json
android/server.log
